@import '../../sass/variables';

header {
  font-size: 1.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $grey-1;
  .navbar-custom {
    background-color: $grey-1;
    border-top: 0.1rem solid $grey-2;
  }
  .navbar-light {
    .navbar-toggler {
      border-color: rgba(0, 0, 0, 0);
      &:focus {
        box-shadow: 0 0 0 0;
      }
    }
    .navbar-toggler-icon {
      width: 2rem;
      height: 2rem;
      background-image: url('../../assets/icons/menu.svg');
      transition: 0.8s;

      &:hover {
        cursor: pointer;
        transform: scale(1.1, 1.1);
      }
    }
  }

  .logo {
    width: 6rem;
    height: auto;
  }

  .nav-buttons {
    display: flex;
    align-items: center;

    &__icon-box {
      position: relative;
      height: 100%;
    }
    &__icon {
      width: 2.5rem;
      margin: 0 1.5rem;
      transition: 0.8s;
      &:hover {
        cursor: pointer;
        transform: scale(1.1, 1.1);
      }
    }
    &__notification {
      font-size: 1.3rem;
      width: 1.75rem;
      height: 1.75rem;
      border-radius: 50%;
      background-color: $primary;
      color: $grey-1;
      position: absolute;
      top: 2rem;
      right: 0.5rem;
      display: flex;
      justify-content: center;
    }
  }

  .navbar-nav {
    .data-rr-ui-dropdown-item {
      text-transform: uppercase;
      a {
        color: inherit;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0);
        color: $primary;
      }
      .active {
        color: $primary;
        font-weight: bold;
      }
    }
  }

  // .navbar-custom {
  //   background-color: $grey-1;
  //   display: flex;
  //   flex-direction: column;
  //   padding: 1.5rem;
  //   #basic-navbar-nav {
  //     margin: 0 1.4rem;
  //   }
  //   .me-auto {
  //     display: flex;
  //     align-items: center;
  //     width: 100%;
  //     &:last-child {
  //       justify-content: flex-end;
  //     }
  //     & > * {
  //       color: $grey-dark-1;
  //       text-transform: uppercase;
  //       padding: 0 1rem;
  //       cursor: pointer;
  //       transition: all 0.2s;
  //       font-size: 1.6rem;
  //       white-space: nowrap;

  //       &:hover {
  //         transform: translateY(-0.3rem);
  //         color: $primary;
  //       }
  //       &:active {
  //         transform: translateY(0.1rem);
  //         color: $primary;
  //       }
  //       &.selected {
  //         color: $primary;
  //         font-weight: bold;
  //       }
  //     }
  //     @media (max-width: 992px) {
  //       & {
  //         align-items: stretch;
  //       }
  //     }
  //     .dropdown-menu {
  //       font-size: 1.6rem;
  //       min-width: 100%;
  //       border: none;
  //       background-color: $grey-2;
  //       box-shadow: 0 0 1.3rem rgba(0, 0, 0, 0.1);
  //       border-radius: 0.5rem;
  //       min-width: 20rem;

  //       .dropstart .dropdown-toggle::before {
  //         display: none;
  //       }
  //       & > * {
  //         padding: 0.8rem;
  //       }
  //       &:hover {
  //         color: $primary;
  //       }

  //       @media (max-width: 992px) {
  //         & {
  //           background-color: $grey-1;
  //           box-shadow: 0 0 1.3rem rgba(0, 0, 0, 0);
  //           width: auto;
  //         }
  //       }
  //     }
  //     #basic-nav-dropdown {
  //       color: $grey-dark-1;
  //       display: flex;
  //       align-items: center;

  //       &:hover {
  //         color: $primary;
  //       }
  //       &::after {
  //         content: '';
  //         display: none;
  //       }
  //       & > * {
  //         font-size: 20rem;
  //       }
  //     }
  //
  //     #nav-dropside {
  //       color: $grey-dark-1;
  //       display: flex;
  //       align-items: center;
  //       text-transform: capitalize;

  //       &:hover {
  //         color: $primary;
  //       }
  //       &::after {
  //         content: '';
  //         display: none;
  //       }
  //       & > * {
  //         font-size: 20rem;
  //       }
  //     }
  //   }
  // }
}
