@import '../../sass/variables';

.btn {
  padding: 1.5rem 2rem;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: inherit;
  transition: all 0.2s;
  white-space: nowrap;
  &:focus {
    box-shadow: none;
  }
}

.solid-btn {
  background-color: $primary;
  color: $grey-1;

  &:hover {
    transform: translateY(-0.2rem);
    background-color: darken($color: $primary, $amount: 4);
    color: $grey-1;
  }
  &:active {
    transform: translateY(0.1rem);
  }
}
