@import '../../sass/variables';

.products-home-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 18.9rem;
  height: 18.9rem;
  transition: 0.9s;
  margin: 0.4rem;
  margin-left: 0;
  cursor: pointer;
  &__image {
    width: 11rem;
  }
  &__title {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.1rem 0;
  }
  &__items-number {
    color: $grey-dark-3;
    font-weight: 500;
    transition: 0.8s;
    font-size: 0;
  }
  &:hover {
    box-shadow: 0 0 2rem rgba($color: #000, $alpha: 0.2);
    transform: scale(1.34, 1.34);
    background-color: $grey-1;

    .products-home-card__items-number {
      font-size: 1.1rem;
    }
  }
}
