.product-card {
  padding: 0 2rem;
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--image {
    width: 25rem;
    height: calc(25 * 1.618) rem;
    height: 12.5rem;
    object-fit: cover;
  }
  &--name {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1rem 2.5rem 0.5rem 2.5rem;
  }
  &--price {
    font-size: 18px;
  }
}
