@import '../../sass/variables';

.prodacts-home-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 17rem;
  height: 17rem;
  background-color: $grey-1;
  &__image {
    width: 10rem;
  }
  &__title {
  }
  &__items-number {
  }
}
