@import '../../sass/variables';

.banner {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;

  &__text {
    color: $grey-dark-1;
    opacity: 1;
    padding: 0.3rem;
    margin: 0 1rem;

    @media (max-width: 506px) {
      & {
        font-size: 1.3rem;
        margin: 0 0rem;
      }
    }
  }

  &__nav {
    display: flex;
    margin: 0 1rem;
  }

  &__button {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
    padding: 0 1rem;
    border-left: 0.1rem solid $grey-2;

    .icon {
      width: 1.8rem;
      margin: 0 0.6rem;
      fill: $grey-dark-1;
      transition: all 0.2s;
    }

    &:hover {
      .icon {
        fill: $primary;
      }
      color: $primary;
    }
  }
}
